/*
 * Globals
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-family: MUTEFRUIT
}
a:hover {
text-decoration: none; 
}


@font-face{
  font-family: MUTEFRUIT;
  src: url('/fonts/MUTEFRUIT.ttf')
}

@font-face{
  font-family: BertramLP;
  src: url('/fonts/BertramLP.ttf')
}

@font-face{
  font-family: yhl;
  src: url('/fonts/yhl.ttf')
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 20px;
  background-color: #f5f6f5;
  height: 140px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.post-icon{
  font-size: 25px;
  line-height: 140px;
  letter-spacing: 20px;
  margin-bottom: 10px;
  float: left;
  margin-right: 50px;
}

.blog-title{
  text-align: center;
  font-family: MUTEFRUIT
}

.blog-body{
  background: url('/img/bg2.jpg') no-repeat;
  background: url('/img/bg.png') no-repeat 100% 5%;
  background-color: #f5f6f5;
}

.blog-about{
  height: 405px;
  background-color: #fff;
  margin-top: 30px;
}

.blog-about .about-title{
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-family: MUTEFRUIT;
}

#about-click{
  display: block;
  margin: 40px auto;
  width: 190px;
  height: 48px;
  background-color: #202020;
  color: #fff;
  line-height: 48px;
  font-size: 30px;
  font-family: BertramLP
}
#photo{
  width: 100%;
  position: relative;
  height: 0;
}
#video{
  position: absolute;
  top: 25%;
  left: 47%;
  height: 0;
}

.blog-about .about-content{
  text-align: center;
  line-height: 30px;
  padding-top: 50px;
}
.blog-images{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow:row wrap;
  justify-content:space-between;
}
.blog-images >.pic{
  width: 265px;
  height: 265px;
  background-color: #FFFFFF;
  margin-top: 20px;
}
.blog-images .pic1{
  background: url('/img/1.png') center center no-repeat;
  background-size: 285px 305px;
  border:5px solid #FFFFFF;
}
.blog-images .pic2{
  background: url('/img/2.png') center center no-repeat;
  background-size: 285px 305px;
  border:5px solid #FFFFFF;
}
.blog-images .pic3{
  background: url('/img/3.png') center center no-repeat;
  background-size: 285px 345px;
  border:5px solid #FFFFFF;
}
.blog-images .pic4{
  background: url('/img/4.png') center center no-repeat;
  background-size: 285px 345px;
  border:5px solid #FFFFFF;
}
.blog-images .pic5{
  background: url('/img/5.png') center center no-repeat;
  background-size: 285px 345px;
  border:5px solid #FFFFFF;
}
.blog-images .pic6{
  background: url('/img/6.png') center center no-repeat;
  background-size: 285px 345px;
  border:5px solid #FFFFFF;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  margin-left: -15px;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 25px;
  margin: 0 -25px 15px;
  background-color: #FFFfff;
  margin-top: 30px;
}
.sidebar-module .sidebar-module-title{
  text-align: center;
  font-family: MUTEFRUIT;
  font-style: 24px;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.post{
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #FFF;
  padding: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-title{
  border-width: 1px 0;
  padding: 0 0 5px 0;
}

.post-abstract{
  margin-bottom: 10px;
}

.post-meta{
  font-size: 0.75em
}

.post-view-header{
  text-align: center;
}

.post-meta > span{
  display: inline-block;
  padding-right: 10px;
  border-right: 1px dotted #EEEEEE;
  margin: 0 5px;
}

.post-meta > span:first-of-type{
  margin-left: 0;
}

.post-meta > span:last-of-type{
  margin-right: 0;
  border-right: 0;
}

.post-view .post-meta{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #EEEEEE;
}

.post-view .post-content{
  text-indent: 2em;
  text-align: justify;
}

.post-comments,
.post-comment-form{
    margin-top: 30px;
}

.post-comment-item{
  border: 1px dotted #DDDDDD;
  margin: 20px 0;
  padding: 10px;
}

.post-comment-email{
  border-bottom: 1px dotted #DDDDDD;
}

.blog-contactMe{
  width: 100%;
  height: 658px;
  background-color: #FFFFFF;
  padding: 40px;
  margin-bottom: 50px;
}

.blog-contactMe .blog-contactMe-title{
  font-size: 24px;
}

.blog-contactMe label{
  margin-top: 30px;
}

.blog-contactMe .btn{
  margin-top: 50px;
  width: 190px;
  height: 48px;
  background-color: #202020;
}
.blog-other .blog-1{
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  background: url('/img/8.jpg');
  background-size: cover;
  border:2px solid #FFFFFF;
}

.blog-other .blog-2{
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  background: url('/img/9.jpg');
  background-size: cover;
  border:2px solid #FFFFFF;
}

.blog-other .blog-3{
  margin-top: 350px;
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  background: url('/img/7.jpg');
  background-size: cover;
  border:2px solid #FFFFFF;
}



/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #202020;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


#messages .error{
  margin: 0;
  padding: 0
}

#messages .error li{
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  border:1px solid transparent;
  border-radius: 4px;
  color:#a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

